.navBar {
  background-color: #483D8B;
  height: 60px; }
  .navBar li a {
    color: #ffffff;
    padding-top: 15px; }

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0; }

.form-box {
  width: 100%;
  height: 450px;
  border: 2px solid #000000; }

.form {
  margin-top: 50px;
  width: 100%; }

ul h3 {
  padding-top: 10px;
  color: #ffffff; }

.form-group {
  padding: 10px;
  margin: 10px; }
  .form-group input {
    width: 90%; }

form input {
  width: 90%; }

/*# sourceMappingURL=app.css.map */
